/* CSS Document */

body{
	background-color: lightgray;
}
.login{
	width: 50%;
	height: 500px;
	margin: auto;
	margin-top: 85px;
}
.left{
	width: 45%;
	height: 100%;
	background-color: white;
	float: left;
}
.right{
	width: 55%;
	height: 100%;
	background-color:red;
	float: left;
}
.login .left .navigation-bar .arrow-btn{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}
.login .left .navigation-bar .register-btn{
	float: right;
	margin-right: 20px;
	margin-top: 15px;
	font-family: 'roboto';
	font-weight: bold;
}

.clear{clear: both;}

.login .left .goo{
	float: left;
	margin-left: 40px;
	margin-top: 25px;
	color: gray;
}
.login .left .face{
	float: left;
	margin-left: 40px;
	margin-top: 25px;
	color: gray;
}
.login .left  .you{
	float: left;
	margin-left: 40px;
	margin-top: 25px;
	color: gray;
}
.inner-body{
	margin: 40px;
}
.inner-body .login-text{
	font-family: 'roboto';
	font-weight: bold;
}
.inner-body .login-caption{
	font-family: 'roboto';
	font-weight: bold;
}
.inner-body .email input{
	width: 100%;
    background-color: #f3e8e8;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.inner-body .pass input{
	width: 100%;
    background-color: #f3e8e8;
    padding: 10px;
    border: none;
	margin-top: 10px;
    border-radius: 5px;
}

.inner-body .forgat{
	float: right;
	margin-top: 15px;
	font-family: 'roboto';
	font-weight: bold;
	color: gray;
}

.inner-body .bott button{
	width: 100%;
	background: #7eb4c2;
	border: none;
    border-radius: 30px;
    margin-top: 25px;
    padding: 12px;
    color: white;
}
.inner-body .anderline{
	width: 100%;
	height: 10px;
	background: #7eb4c2;
	border-radius: 5px;
	margin-top: 25px;
}
.login .right img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
.login .right:hover img{
	transition: all ease 2s;
	object-position: right;
}
.inner-body  .text{
	margin-top: 25px;
    text-align: center;
    color: gray;
}